<template name="appBody">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {{#if currentUser}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button" aria-expanded="false">
              Meal Swipes 
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="#" class="register-frat-form-btn">
                  Register Fraternity
                </a>
              </li>
            </ul>
          </li>
        {{else}}
          <a href="#" class="navbar-brand">
            Meal Swipes 
          </a>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
      </ul>
    </div>
  </div>
  <div class="container">
    {{#if currentUser}}

      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="title-link">
            <h3 class="panel-title">Subscriber</h3>
          </a>
        </div>
        <div class="panel-body">
          {{#each fratSubscriptions}}
            {{> fratSubscriberView}}
          {{/each}}
          <div class="row">
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default subscribe-frat" type="button">
                    Subscribe to Fraternity
                  </button>
                </span>
                <input type="text" class="form-control subscribe-frat-input" placeholder="Fraternity Name">
              </div>
            </div>
          </div>
        </div>
      </div>

      {{#if fratAdministrations.count}}
        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="title-link">
              <h3 class="panel-title">Administrator</h3>
            </a>
          </div>
          <div class="panel-body">
            {{#each fratAdministrations}}
              {{> fratAdminView}}
            {{/each}}
          </div>
        </div>
      {{/if}}

      {{#if fratChefEmployments.count}}
        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="title-link">
              <h3 class="panel-title">Chef</h3>
            </a>
          </div>
          <div class="panel-body">
            {{#each fratChefEmployments}}
              {{> fratChefView}}
            {{/each}}
          </div>
        </div>
      {{/if}}

    {{else}}
      <h1>Welcome to the Meal Swipes App</h1>
    {{/if}}
  </div>
</template>
