<template name="chefMealRequest">
  <tr>
    <td>
      {{mealType.mainDish}}
      {{#if isLatePlate}}
        (late plate)
      {{else}}
        ({{mealType.mealTime}})
      {{/if}}
    </td>
    <td>{{mealType.details}}</td>
    <td>
      {{#if preparedAt}}
        {{#if receivedAt}}
          Received ({{formatDate receivedAt}})
          {{#if rating}}
            <button class="view-meal-feedback btn btn-default btn-sm float-right">
              View Feedback
            </button>
          {{else}}
            <button class="view-meal-feedback btn btn-default btn-sm float-right" disabled>
              Feedback Pending
            </button>
          {{/if}}
        {{else}}
          Prepared
          <button class="btn btn-default btn-sm float-right" disabled>
            Feedback Pending
          </button>
        {{/if}}
      {{else}}
        Unprepared
        <button class="mark-as-prepared btn btn-default btn-sm float-right">
          Mark as Prepared
        </button>
      {{/if}}
    </td>
  </tr>
</template>
