<template name="fratSubscriberView">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="title-link">
        <h3 class="panel-title">{{name}}</h3>
      </a>
    </div>
    <div class="panel-body" style="display:none">

      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="title-link">
            <h3 class="panel-title">Menu</h3>
          </a>
        </div>
        [Show menu options; request meal, including option for late plate]
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>Main Dish</th>
              <th>Details</th>
              <th>Time</th>
            </tr>
            {{#each menu}}
              <tr>
                <td>{{mainDish}}</td>
                <td>{{details}}</td>
                <td>
                  {{mealTime}}
                  <button class="request-meal btn btn-default btn-small float-right">
                    Request
                  </button>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="title-link">
            <h3 class="panel-title">Meal Requests</h3>
          </a>
        </div>
        <div class="panel-body" style="display:none">
          [View pending and past meal requests, sorted chronologically.
          Here you can also rate and comment on past meals.]
          <br>
          <table class="table table-striped">
            <tbody>
              <tr>
                <th>Main Dish</th>
                <th>Details</th>
                <th>Status</th>
              </tr>
              {{#each mealRequests}}
                <tr>
                  <td>
                    {{mealType.mainDish}}
                    ({{mealType.mealTime}})
                  </td>
                  <td>{{mealType.details}}</td>
                  <td>
                    {{#if receivedAt}}
                      Received ({{formatDate receivedAt}})
                      <button class="give-meal-feedback btn btn-default btn-sm float-right">
                        Give Feedback
                      </button>
                    {{else}}
                      Pending
                      <button class="cancel-meal-req btn btn-default btn-sm float-right">
                        Cancel
                      </button>
                    {{/if}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="title-link">
            <h3 class="panel-title">Check In</h3>
          </a>
        </div>
        <div class="panel-body" style="display:none">
          <div class="qr-code"></div>
          <script>$('.qr-code').qrcode({ text: '{{currentUser._id}}' });</script>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="title-link">
            <h3 class="panel-title">Activity</h3>
          </a>
        </div>
        <div class="panel-body" style="display:none">
          Place to view meal activity of other subscribers to the fraternity
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="title-link">
            <h3 class="panel-title">Announcements</h3>
          </a>
        </div>
        <div class="panel-body" style="display:none">
          Place to view admin and chef announcements
        </div>
      </div>

    </div>
  </div>
</template>
