<template name="fratSubscriberView">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="title-link">
        <h3 class="panel-title">{{name}}</h3>
      </a>
    </div>
    <div class="panel-body" style="display:none">

      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="title-link">
            <h3 class="panel-title">Menu</h3>
          </a>
        </div>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>Main Dish</th>
              <th>Details</th>
              <th>Time</th>
            </tr>
            {{#each menu}}
              {{> menuItem}}
            {{/each}}
          </tbody>
        </table>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="title-link">
            <h3 class="panel-title">Meal Requests</h3>
          </a>
        </div>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>Main Dish</th>
              <th>Details</th>
              <th>Status</th>
            </tr>
            {{#each mealRequests}}
              {{> subscriberMealRequest}}
            {{/each}}
          </tbody>
        </table>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="title-link">
            <h3 class="panel-title">Check In</h3>
          </a>
        </div>
        <div class="panel-body" style="display:none">
          <div class="qr-code"></div>
          <script>$('.qr-code').qrcode({ text: '{{currentUser._id}}' });</script>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="title-link">
            <h3 class="panel-title">Activity</h3>
          </a>
        </div>
        <div class="panel-body" style="display:none">
          Place to view meal activity of other subscribers to the fraternity
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="title-link">
            <h3 class="panel-title">Announcements</h3>
          </a>
        </div>
        <div class="panel-body" style="display:none">
          Place to view admin and chef announcements
        </div>
      </div>

    </div>
  </div>
</template>
