<template name="fratAdminView">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="title-link">
        <h3 class="panel-title">{{name}}</h3>
      </a>
    </div>
    <div class="panel-body" style="display:none">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="title-link">
            <h3 class="panel-title">Chef</h3>
          </a>
        </div>
        <div class="panel-body" style="display:none">
          {{#if chef}}
            {{chef}}
          {{else}}
            <div class="row">
              <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-default add-chef" type="button">
                      Register Chef
                    </button>
                  </span>
                  <input type="text" class="form-control chef-username-input" placeholder="Chef Username">
                </div>
              </div>
            </div>
          {{/if}}
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="title-link">
            <h3 class="panel-title">Subscribers</h3>
          </a>
        </div>
        <div class="panel-body" style="display:none">
          <table class="table table-striped">
            <tr>
              <th>User</th>
              <th>Swipes</th>
            </tr>
            {{#each subscribers}}
              <tr>
                <td>{{this.userId}}</td>
                <td>{{this.mealSwipes}}</td>
              </tr>
            {{/each}}
          </table>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="title-link">
            <h3 class="panel-title">Announcements</h3>
          </a>
        </div>
        <div class="panel-body" style="display:none">
          Place to view admin and chef announcements,
          but also with ability to post announcements
        </div>
      </div>

    </div>
  </div>
</template>