<template name="subscriberMealRequest">
  <tr>
    <td>
      {{mealType.mainDish}}
      {{#if isLatePlate}}
        (late plate)
      {{else}}
        ({{mealType.mealTime}})
      {{/if}}
    </td>
    <td>{{mealType.details}}</td>
    <td>
      {{#if receivedAt}}
        Received ({{formatDate receivedAt}})
        {{#if rating}}
          <button class="btn btn-default btn-sm float-right" disabled>
            Feedback Sent
          </button>
        {{else}}
          <button class="give-meal-feedback btn btn-default btn-sm float-right">
            Give Feedback
          </button>
        {{/if}}
      {{else}}
        {{#if preparedAt}}
          Ready to eat
          <button class="claim-meal btn btn-default btn-sm float-right">
            Claim Meal
          </button>
        {{else}}
          Pending Preparation
          <button class="cancel-meal-req btn btn-default btn-sm float-right">
            Cancel Request
          </button>
        {{/if}}
      {{/if}}
    </td>
  </tr>
</template>
