<template name="subscriberMealRequest">
  <tr>
    <td>
      {{mealType.mainDish}}
      {{#if isLatePlate}}
        (late plate)
      {{else}}
        ({{mealType.mealTime}})
      {{/if}}
    </td>
    <td>{{mealType.details}}</td>
    <td>
      {{#if receivedAt}}
        Received ({{formatDate receivedAt}})
        <button class="give-meal-feedback btn btn-default btn-sm float-right">
          Give Feedback
        </button>
      {{else}}
        Pending
        <button class="cancel-meal-req btn btn-default btn-sm float-right">
          Cancel
        </button>
      {{/if}}
    </td>
  </tr>
</template>
